a.btn.btn-danger.btn-lg.w-100.m-2.rounded-pill.shadow-lg(href="") Compose
.list-group.mt-3.small
    a.list-group-item.list-group-item-action(href="") Inbox
        span.float-end (2)  
    a.list-group-item.list-group-item-action(href="") Outbox
        span.float-end (5)  
    a.list-group-item.list-group-item-action(href="") Draft
        span.float-end (7)  
    a.list-group-item.list-group-item-action(href="") Sent Mail
        span.float-end (2)  
    a.list-group-item.list-group-item-action(href="") Trash
        span.float-end (1)  